.pageContainer {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;

  > nav {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #44504530;
    border-top: none;
    border-radius: 0 0 .5rem .5rem;

    img {
      width: 120px;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 0.75rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        color: #445045;

        &.selected {
          text-decoration: underline;
          text-decoration-thickness: 0.15rem;
          text-underline-offset: 0.2rem;
        }
      }
    }
  }

  > main {
    margin: 1rem 0;
  }
}
